#header {
    background-color: #9C9C9C;
}

#create-program-image {
    margin-left: 170px;
}

#first-row {
    margin-bottom: 170px;
}

#second-row {
    margin-bottom: 130px;
}

#third-row {
    margin-bottom: 130px;
}

#update-program-content {
    margin-left: 100px;
    margin-bottom: 75px;
}

#docflow-footer {
    color: #013765;
    font-size: 14px;
    width: 100%;
    height: 60px;
    text-align: center;
    position: fixed;
    bottom:0;
    background: #9C9C9C;
    margin-bottom: 0;
    margin-left: 0;
}

#footer-text {
    line-height: 3rem;
}

.modal-submit {
    background-color: #9A1C2D;
    border-color: #9A1C2D;
}

.modal-close {
    background-color: #9C9C9C;
    border-color: #9c9c9c
}

.navbar-brand {
    color: #013765;
}

.landing-btns {
    background-color: #9A1C2D;
    border-color: transparent;
}

.landing-btns:hover {
    background-color: #013765;
}

.jumbotron {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #013765;
    background-position: center center;
    width: 100%;
    height: 350px;
    margin-bottom: 100px;
}

.docflow-footer-section {
    margin-top: 100px;
}